@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@0;1&family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap');
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Cardo', serif;  */




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul li{
    list-style-type: none;
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.header-section{
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
.header-section .container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255,0.2);
}
.header-logo a img{
    width: 100%;
}
.header-menu .menu{
    display: flex;
}
.header-menu .menu li a:hover{
    color: rgb(52, 235, 28);
    cursor: pointer;
    scale: 1.05;
}
.menu-icon{
    display: none;
}
.menu-icon i{
    font-size: 28px;
    font-weight: 700;
    color: #fff;
}
.header-menu li a{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    padding:14px 30px ;
    text-transform: uppercase;
}
.header-menu .menu li:last-child a{
    padding-right: 0px;
}


/* ...............Banner Section.................  */
.banner-section{
    background-image: url(./../image-2/background.png);
    background-size:cover ;
    background-repeat: no-repeat;
    padding-top: 260px;
    padding-bottom: 160px;

}
.banner-section .container h1{
    font-size: 65px;
    font-weight: 700;
    font-family:'Open Sans', sans-serif;
    color: #fff;
    line-height: 68px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 80px;
}
.banner-section .container p{
    font-size:22px ;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
    padding: 0 110px;
}
.banner-section .container a{
    font-size: 13px;
    background-color: red;
    font-family: 'Raleway', sans-serif;
    padding: 20px 45px;
    color: #fff;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    text-transform: uppercase;
    transform: translateX(-50%); 
}

/* .............Service Section............  */
.service-section{
    padding: 120px 0;
}
.service-section .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 68px;
   
    
}
.service-section .container .service-item{
    max-width: 30%;
    text-align: center;
    padding: 0 26px;
}
.service-section .container .service-item img{
    width: 100%;
}
.service-section .container .service-item h3{
    font-family: 'Raleway', sans-serif;
    font-size: 14px; 
    text-transform: uppercase;
    font-weight: 700; 
    margin-top: 35px;
    margin-bottom: 25px;
    text-align: center;
}
.service-section .container .service-item p{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    
    color: rgb(71, 74, 78);
}

/* ...............Gallary Saction.............  */
.gallary-saction{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1px ;
    row-gap: 1px;
}
.gallary-saction .gallary-item{
    max-width: calc(25% - 1px);
    cursor: pointer;
    position: relative;
}
.gallary-saction .gallary-item img{
    width: 100% ;
    height: 100% ;
}
.overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    transition: 0.4s ease-in-out;
}
.gallary-saction .gallary-item:hover .overlay{
    background-color: rgba(218, 71, 71,0.7);
}
.gallary-text-content{
    z-index: 9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.4s all ease-in-out;
}
.gallary-text-content h3{
    font-family: 'Raleway', sans-serif;
    font-size:14px ;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}
.gallary-text-content p{
    font-family: 'Raleway', sans-serif;
    font-size:14px ;
    font-weight: 400;
    text-align: center;
    color: #fff;
}
.gallary-saction .gallary-item:hover .gallary-text-content{
    opacity: 1;
}

/* ...........Team Section...........  */

.team-section{
    padding: 100px 0;
}
.team-section .container{
    display: flex;
    justify-content: space-between;
}
.team-member{
    max-width: calc(25% - 22.5px);
}
.team-section .container .team-member img{
    width: 100%;
    /* height: 100%; */
}
.team-member h3, .team-member p{
    font-family: 'Raleway', sans-serif;
}
.team-member h3{
    font-size: 22px;
    color: #2d3033;
    margin-top: 30px;
    margin-bottom: 16px;
}
.team-member p:first-of-type{
    font-size: 13px;
    text-transform: uppercase;
    color: #E84545;
}
.team-member p:last-of-type{
    font-size: 14px;
    color: #898e94;
    margin: 30px 0;

}
.team-member_social-icon {
    display: flex;
    column-gap: 4px;
}
.team-member_social-icon a{
    height: 40px;
    width: 40px;
    border: 1px solid #e8ecee;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-member_social-icon a i{
    color: #c6cacc;
}

/* .............Testimonial Section..........  */
.testimonial-section{
    background-color: #53354a;
}

.testimonial-content{
    display: flex;
}
.testimonial-content-item{
    width: 50%;
}
.testimonial-image img{
    width: 100%;
    height: 100%;
}
.testimonial-text{
    padding-top:115px ;
    padding-left: 80px;
    padding-bottom: 100px;
}
.testimonial-text p:first-of-type{
    font-size: 36px;
    font-style: italic;
    color: #fff;
    font-family: 'Cardo', serif; 
    padding-right: 90px;
}
.testimonial-text p:last-of-type{
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin-top: 28px;
}
.indicator {
    display: flex;
    margin-top: 64px;
    column-gap: 8px;
    justify-content: center;
}
.indicator-item{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #897583;
}
.indicator .indicator-item:nth-child(2){
    background-color: #fff;
}

/* ..........Download Section..........  */
.download-section{
    padding-top: 100px;
    padding-bottom: 100px;
    
    text-align: center;
}
.download-section .container h3{
    font-size: 28px;
    font-family:'Raleway', sans-serif ;
    font-weight: 300;
    color: #3B3E41;
   
}
.download-section .container p{
    font-family:'Raleway', sans-serif ;  
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    color: #2D3033;
    margin-top: 20px;
    margin-bottom: 40px;
    
}
.download-section .container a{
    border-radius: 1px;
    background-color: #E84545;
    padding: 18px 80px;
    font-family:'Raleway', sans-serif ;  
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
}

/* ............Address Section..............  */
.address-section{
    background-color: #3A3E64;
    
}
.address-section .container{
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}
.location{
    width: 30%;
}

.location h3{
    font-family:'Raleway', sans-serif ;  
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
}
.location p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #9698AC;
    margin-top: 10px;
    padding: 0 87px;
}
.social-account{
    display: flex;
    column-gap: 4px;
    justify-content: center;
    align-items: center;
}
.share{
    width: 30%;
}
.share h3{
    font-family:'Raleway', sans-serif ;  
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10px;
}
.share .social-account a{
    height: 40px;
    width: 40px;
    border: 2px solid #e8ecee;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.share .social-account a i{
    color: #fff;
}
.about{
    width: 30%;
}

.about h3{
    font-family:'Raleway', sans-serif ;  
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
}
.about p{
    font-family:'Raleway', sans-serif ;  
    font-weight: 400;
    font-size: 14px;
    color: #9698AC;
    margin-top: 10px;
    
}


/* .............Footer Section.................  */
.footer-section{
    background-color: #313454;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    padding-left: 500px;
    padding-right: 500px;
}
.footer-section .footer-text-item p{
    color: #808080;
    font-family:'Raleway', sans-serif ; 
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

}
.footer-section .footer-text-item i{
    color: red;
}
.footer-section .footer-text-item a{
    color:#E4E4E8;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 400;
    font-size: 14px;
    
}







/* ============Responsive============= */
@media screen and (max-width:1200px){
     /* .............Footer Section................. */
     .footer-section {
        padding-left: 430px;
        padding-right: 430px;
    }
    /* .................banner section................ */
    .banner-section .container h1 {
        padding: 0 60px;
    }
}

@media screen and (max-width:1147px){
    /* .............Footer Section................. */
    .footer-section {
        padding-left: 400px;
        padding-right: 400px;
    }
}

@media screen and (max-width:1087px){
    /* .............Footer Section................. */
    .footer-section {
        padding-left: 365px;
        padding-right: 365px;
    }
    /* .............Testimonial Section.......... */
    .testimonial-text p:first-of-type {
        padding-right: 25px;
    }
    /* ............Address Section.............. */
    .location p {
        padding: 0 84px;
    }
}

@media screen and (max-width:1019px){
    /* .................banner section................ */
    .banner-section .container h1 {
        padding: 0 35px;
    }
    /* ............Address Section.............. */
    .location p {
        padding: 0 60px;
    }
    /* .............Footer Section................ */
    .footer-section {
        padding-left: 312px;
        padding-right: 312px;
    }
}

@media screen and (max-width:969px){
    /* ...............Header Section............... */
    .header-menu {
        display: none;
    }
    .header-menu.active{
        display: inline-block;
    }
    .header-menu .menu{
        flex-direction: column;
    }
    .header-menu{
        position: absolute;
        top: 100px;
        right: 0;
        background-color: #373a3e;
    } 
    .menu-icon{
        display: inline-block;
    }
    /* .................banner section................  */
    .banner-section {
        padding-top: 240px;
        padding-bottom: 150px;
    }
    .banner-section .container h1 {
        font-size: 48px;
        line-height: 54px;
        padding: 8px 73px;
    }
    .banner-section .container p {
        font-size: 18px;
        margin-top: 32px;
        margin-bottom: 68px;
        padding: 0 100px;
    }
    /* .............Service Section............  */
    .service-section .container .service-item{
        max-width: 47.5%;
    }
    .service-section {
        padding: 100px 0;
    }
    /* ...........Team Section........... */
    .team-section .container{
       flex-wrap: wrap;
       row-gap: 60px;
    }
    .team-member{
        max-width: 50%;
        padding: 0 100px;
    }
    /* .............Testimonial Section.......... */
    .testimonial-content{
        display: flex;
        flex-wrap: wrap;
    }
    .testimonial-content-item{
        width: 100%;
    }
    .testimonial-text p:first-of-type {
        padding-right: 165px;
    }
    /* ..........Download Section.......... */
    .download-section .container a {
        padding: 18px 50px;
    }
    /* .............Footer Section................. */
    .footer-section {
        padding-left: 325px;
        padding-right: 325px;
    }
}

@media screen and (max-width:937px){
    /* .............Footer Section................. */
    .footer-section {
        padding-left: 310px;
        padding-right: 310px;
    }
}

@media screen and (max-width:907px){
    /* ............Address Section.............. */
    .location p {
        padding: 0 50px;
    }
    /* .............Footer Section................. */
    .footer-section {
        padding-left: 280px;
        padding-right: 280px;
    }
}

@media screen and (max-width:869px){
    /* ...........Team Section........... */
    .team-member {
    padding: 0 75px;
    }
}

@media screen and (max-width:847px){
    /* .............Footer Section................ */
    .footer-section {
        padding-left: 250px;
        padding-right: 250px;
    }
}

@media screen and (max-width:818px){
    /* .................banner section................ */
    .banner-section .container h1 {
        padding: 8px 48px;
    }
    /* ............Address Section............. */
    .location p {
        padding: 0px 40px;
    }
}

@media screen and (max-width:787px){
    /* ............Address Section............. */
    .location p {
        padding: 0px 35px;
    }
     /* .............Footer Section................ */
     .footer-section {
        padding-left: 220px;
        padding-right: 220px;
    }
}

@media screen and (max-width:768px){
    /* ...............Header Section............... */
    
    .header-menu{
        top: 100px;
    } 
    /* .................banner section................ */
    .banner-section {
        padding-top: 200px;
        padding-bottom: 125px;
    }
    .banner-section .container h1 {
        font-size: 40px;
        line-height: 44px;
        padding: 0 50px;
    }
    .banner-section .container p {
        padding: 0 100px;
    }
    .banner-section .container a {
        padding: 14px 26px;
        
    }
    /* .............Service Section............ */
    .service-section .container {
        row-gap: 55px;
    }
    .service-section {
        padding: 85px 0;
    }
    .service-section .container .service-item p{
       padding: 0;
    }
    /* ...............Gallary Saction............. */
    .gallary-saction .gallary-item{
        max-width: calc(50% - 1px);
    }
    /* ...........Team Section........... */
    .team-member {
        padding: 0 50px;
    }
    /* .............Testimonial Section.......... */
   
    .testimonial-text {
        padding-top: 100px;
    }
    /* .............Footer Section................. */
    .footer-section {
        padding-left: 225px;
        padding-right: 225px;
    }
}   

@media screen and (max-width:737px){
    /* ............Address Section............. */
    .location p {
        padding: 0px 25px;
    }
    /* .............Footer Section................. */
    .footer-section {
        padding-left: 195px;
        padding-right: 195px;
    }
}

@media screen and (max-width:689px){
    /* .................banner section................ */
    .banner-section .container p {
        padding: 0px 45px;
    }
    /* .............Testimonial Section.......... */
    .testimonial-text {
        padding-top: 70px;
    }
    .testimonial-text p:first-of-type {
        padding-right: 90px;
    }
    /* ..........Download Section......... */
    .download-section {
        padding-top: 70px;
        padding-bottom: 70px;
        text-align: center;
    }
}

@media screen and (max-width:677px){
    /* ............Address Section............. */
    .location p {
        padding: 0px 10px;
    }
    /* .............Footer Section................. */
    .footer-section {
        padding-left: 165px;
        padding-right: 165px;
    }
}

@media screen and (max-width:665px){
    /* .................banner section................ */
    .banner-section {
        padding-top: 180px;
        padding-bottom: 110px;
    }
    .banner-section .container h1 {
        padding: 0px;
    }
    /* ...........Team Section........... */
    .team-member {
        padding: 0 25px;
    }
}

@media screen and (max-width:617px){
    /* .................banner section............... */
    .banner-section .container p {
        padding: 0px;
    }
    /* ............Address Section............. */
    .location p {
        padding: 0px;
    }
    /* .............Footer Section................. */
    .footer-section {
        padding-left: 135px;
        padding-right: 135px;
    }
}



@media screen and (max-width:574px){
    /* ...............Header Section............... */
    
    .header-menu{
        top: 100px;
    } 
    .header-logo a img{
        width: 80%;
    }
    .menu-icon i {
        font-size: 23px;
    }
    /* .................banner section................ */
    .banner-section {
        padding-top: 165px;
        padding-bottom: 100px;
    }
    .banner-section .container h1 {
        font-size: 33px;
        line-height: 38px;
        padding: 0px;
    }
    .banner-section .container p {
        font-size: 16px;
        padding: 0 16px;
        margin-top: 22px;
        margin-bottom: 38px;
    }
    .banner-section .container a {
        padding: 12px 20px;
        
    }
    /* .............Service Section............ */
    .service-section .container .service-item{
        max-width: 100%;
        padding: 0 80px;
    }
    .service-section {
        padding: 60px 0;
    }
    .service-section .container .service-item img{
        width: 80%;
    }
    /* ....................Team Section.................. */
    .team-member {
        padding: 0 5px;
    }
    .team-section {
        padding: 60px 0;
    }
    /* .............Testimonial Section.......... */
    .testimonial-text {
        padding-top: 60px;
        padding-bottom: 65px;
    }
    .indicator {
        margin-top: 50px;
    }
    /* ..........Download Section.......... */
    .download-section .container h3 {
        font-size: 23px;
    }
    .download-section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
     /* ............Address Section..............  */
     .address-section .container {
        padding-top: 66px;
        padding-bottom: 66px;
        row-gap: 40px;
    }

    .location{
        width: 100%;
    }
    .share{
        width: 100%;
    }
    .about p {
        padding: 0px 100px;
    }
    .about{
        width: 100%;
    }
    /* .............Footer Section................. */
    .footer-section {
        padding-left: 115px;
        padding-right: 115px;
    }
    
}

@media screen and (max-width:539px){
    /* .................banner section................ */
    .banner-section .container h1 {
        font-size: 33px;
        line-height: 38px;
        padding: 0px;
    }
    /* ....................Team Section.............. */
    .team-member {
        max-width: 100%;
        padding: 0 120px;
    }
     /* .............Testimonial Section.......... */
    .testimonial-text p:first-of-type {
        padding-right: 30px;
    }
}

@media screen and (max-width:517px){
    /* ............Address Section............. */
    
    .about p {
        padding: 0px 60px;
    }
    /* .............Footer Section................. */
    .footer-section {
        padding-left: 85px;
        padding-right: 85px;
    }
     /* .............Testimonial Section.......... */
    .testimonial-text p:first-of-type {
        font-size: 29px;
    }
}

@media screen and (max-width:471px){
    /* .................banner section................ */
    .banner-section {
        padding-top: 145px;
        padding-bottom: 85px;
    }
    .banner-section .container h1 {
        font-size: 30px;
        line-height: 35px;
    }
    .banner-section .container p {
        font-size: 14px;
        padding: 0px;
    }
    /* .............Service Section............ */
    .service-section {
        padding: 50px 0;
    }
    .service-section .container .service-item h3 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .service-section .container {
        row-gap: 40px;
    }
    .service-section .container .service-item {
        padding: 0 60px;
    }
    /* ...............Team Section........... */
    .team-member {
        padding: 0 88px;
    }
    .team-member h3 {
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .team-member p:last-of-type {
        margin: 20px 0;
    }
    .team-section .container {
        row-gap: 40px;
    }
     /* .............Testimonial Section.......... */
     .testimonial-text {
        padding-top: 40px;
        padding-left: 50px;
        padding-bottom: 40px;
    }
    .testimonial-text p:first-of-type {
        padding-right: 10px;
    }
    .indicator {
        margin-top: 30px;
    }
    /* ..........Download Section.......... */
    .download-section .container a {
        padding: 10px 20px;
    }
    .download-section .container h3 {
        font-size: 19px;
    }
}

@media screen and (max-width:468px){
     /* ...............Header Section............... */
    .menu-icon i{
        font-size: 23px;
    }
    /* .................banner section................ */
    .banner-section .container a {
        padding: 10px 14px;
    }
    
    /* .............Service Section............ */
    
    .service-section .container .service-item{
        padding: 0 40px;
    }
    /* ...............Gallary Saction............. */
    .gallary-saction .gallary-item{
        max-width: 100%;
    }
    /* .............Footer Section................. */
    .footer-section {
        padding-left: 78px;
        padding-right: 78px;
    }
}

@media screen and (max-width:443px){
     /* ............Address Section..............  */
    .about p {
        padding: 0px 40px;
    }
     /* .............Footer Section................. */
    .footer-section {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width:431px){
    /* .................banner section................ */
    .banner-section .container h1 {
        font-size: 25px;
        line-height: 30px;
    }
    .banner-section .container p {
        font-size: 12px;
    }
     /* .............Service Section............ */
    .service-section .container .service-item {
        padding: 0px;
    }
     /* ...........Team Section........... */
     .team-member {
        padding: 0 65px;
    }
     /* .............Testimonial Section.......... */
    .testimonial-text {
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 30px;
    }
    .testimonial-text p:first-of-type {
        font-size: 28px;
    }
    /* ..........Download Section.......... */
    .download-section .container h3 {
        font-size: 19px;
    }
    .download-section {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .download-section .container p {
        margin-top: 20px;
        margin-bottom: 25px;
    }
}

@media screen and (max-width:387px){
    /* ............Address Section..............  */
    .about p {
        padding: 0px;
    }
    /* .............Footer Section................. */
    .footer-section {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width:375px){
    /* .................banner section................ */
    .banner-section {
        padding-top: 130px;
        padding-bottom: 70px;
    }
    .banner-section .container a {
        font-size: 11px;
    }
    /* .............Service Section............  */
    .service-section .container .service-item {
        padding: 0px;
    }
    
    /* ...........Team Section........... */
    .team-member {
        padding: 0 37px;
    }
    /* .............Testimonial Section......... */
    .testimonial-text {
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 30px;
    }
    .indicator {
        margin-top: 30px;
    }
    .testimonial-text p:first-of-type {
        font-size: 25px;
    }
    /* ..........Download Section.......... */
    .download-section {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .download-section .container p {
        margin-top: 15px;
        margin-bottom: 30px;
    }
   
     /* ............Address Section.............. */
     .address-section .container {
        padding-top: 35px;
        padding-bottom: 35px;
        row-gap: 30px;
    }
    /* .............Footer Section................. */
    .footer-section {
        padding-left: 15px;
        padding-right: 15px;
    }

}

@media screen and (max-width:364px){
    /* ..............banner section............ */
    .banner-section .container h1 {
        font-size: 21px;
        line-height: 25px;
    }
    .banner-section .container p {
        font-size: 11px;
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .banner-section {
        padding-top: 120px;
        padding-bottom: 60px;
    }
     /* .............Service Section............ */
     .service-section .container .service-item p {
        font-size: 13px;
    }
    .service-section {
        padding: 30px 0;
    }
    .service-section .container {
        row-gap: 30px;
    }
    /* .............Team Section............ */
    .team-section {
        padding: 35px 0;
    }
    .team-section .container {
        row-gap: 30px;
    }
    /* .............Testimonial Section.......... */
    .testimonial-text p:first-of-type {
        font-size: 22px;
    }
    .testimonial-text p:last-of-type {
        margin-top: 20px;
        margin-right: 25px;
        font-size: 12px;
    }
    /* ..........Download Section.......... */
    .download-section .container a {
        font-size: 11px;
        padding: 10px 15px;
    }
    
}
@media screen and (max-width:320px){
    /* ...............Header Section............... */
    .header-section {
        height: 64 px;
    }
    .header-logo a img{
        width: 64%;
    }
    .menu-icon i{
        font-size: 18px;
    }
    /* .................banner section................ */
    .banner-section {
        padding-top: 130px;
        padding-bottom: 70px;
    }
    
    .banner-section .container h1 {
        font-size: 20px;
        line-height: 25px;
    }
    .banner-section .container p {
        font-size: 11px;
        margin-top: 18px;
        margin-bottom: 26px;
    }
    .banner-section .container a {
        padding: 10px 12px;
        
    }
    /* ...........Team Section........... */
    .team-member {
        padding: 0 12px;
    }
    
    /* ..........Download Section.......... */
    .download-section .container a {
        padding: 10px 15px;
    }
    .download-section {
        padding-top: 28px;
        padding-bottom: 28px;
    }
    .download-section .container p {
        margin-bottom: 20px;
    }
     /* ............Address Section.............. */
     .location p {
        font-size: 13px;
    }
    .about p {
        font-size: 13px;
    }
     /* .............Footer Section................. */
     .footer-section {
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer-section .footer-text-item p {
        font-size: 12px;
        line-height: 17px;
    }
    
     

}

@media screen and (max-width:297px){
    /* ...........banner section........... */
    .banner-section {
        padding-top: 115px;
    }
    .banner-section .container h1 {
        font-size: 18px;
        line-height: 23px;
    }
     /* .............Footer Section................. */
    .footer-section {
        padding-left: 3px;
        padding-right: 3px;
    }
}
